* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
}


/* colors light */
:root {
    --color_white: #fff;
    --color_black: #1A2029;
    --color_gray: #14161D;
    --color_light_gray: #F8F8F8;
    --color_dark_gray: #31353F;
    --color_light_purple: #8C77ED;
    --color_blue: #3A6FF8;
    --color_green: #1ECB4F;
    --color_light_red: #F46D22;
}


/* colors dark */
:root[data-theme="dark"] {
    --color_white: #cb0909;
}

@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Black.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Light.woff') format('woff');
}